---
import Section from "../Section.astro";
import { work } from "@cv";
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary }) => {
        const start = new Date(startDate);
        const end = endDate != null ? new Date(endDate) : null;
        const startLabel = `${start.toLocaleString('es-ES', { month: 'long' }).replace(/^./, m => m.toUpperCase())} ${start.getFullYear()}`;
        const endLabel = end
          ? `${end.toLocaleString('es-ES', { month: 'long' }).replace(/^./, m => m.toUpperCase())} ${end.getFullYear()}`
          : "Actualidad";
        const years = `${startLabel} - ${endLabel}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                  <h4>{position}</h4>
                </div>

                <time>{years}</time>
              </header>

              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #00829b;
  }

  article h4 {
    color: #333333;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  time {
    color: #00829b;
    font-size: 0.85rem;
  }
</style>
